/* Style général */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

/* Style pour les sélecteurs de semaine et de vue */
label {
    font-weight: bold;
}

input[type="week"],
select {
    margin-bottom: 10px;
}

/* Style pour le conteneur des emplois du temps */
#emplois-du-temps {
    margin-top: 20px;
}

/* Ajoutez d'autres styles selon les besoins de votre interface utilisateur */
